.join
  &-content
    position: relative
    bottom: 151px
    width: 581px
    z-index: 2
    background: $pink
    margin: 0 auto
    padding: 50px 90px
    &--title
      color: white
      font-family: $serif
      font-weight: bold
      font-size: 50px
      line-height: 50px
      margin: 0
    &--button
      display: inline-block
      text-transform: uppercase
      font-weight: bold
      color: white
      border: 4px solid
      border-radius: 4px
      text-decoration: none
      letter-spacing: 2.5px
      font-size: 25px
      margin-top: 30px
      padding: 18px 21px 15px
  &-elements
    .join-deco
      &--triangle
        position: absolute
        left: -52px - 66px
        bottom: 111px
        z-index: 3
      &--circle
        position: absolute
        top: 70px
        right: -68px
        z-index: 1
      &--hamburger
        position: absolute
        right: 107px
        top: -34px
        z-index: 3
      &--cutdot
        position: absolute
        bottom: -17px
        right: 73px
        z-index: 3
