$black: #000
$blue: #00129D
$red: #D61836
$yellow: #FFF700
$green: #00A424
$grey: #646464

$text-color: $grey
$title-color: $black

$sans-serif: 'SansSerifCss', sans-serif
$serif: 'SerifCss', serif
$font: $sans-serif

$font-weight-light: 300
$font-weight-regular: 400
$font-weight-medium: 500
$font-weight-bold: 600
