= partial 'partials/header', locals: { current: 'portfolio'} 
= partial 'partials/modals/contact'

= partial 'partials/sections/small_hero', locals: { current: 'portfolio'} 
= partial 'partials/sections/portfolio' 

= partial 'partials/footer'
