= partial 'partials/header', locals: { current: 'manifest'} 
= partial 'partials/modals/contact'

= partial 'partials/sections/index_hero'
= partial 'partials/sections/manifest'
= partial 'partials/sections/people'

= partial 'partials/footer'
