= partial 'partials/header', locals: { current: 'partners'} 
= partial 'partials/modals/contact'

= partial 'partials/sections/small_hero', locals: { current: 'partners'} 
= partial 'partials/sections/partners' 

= partial 'partials/footer'
