header.header
  nav
    = link_to '#top', class: 'header-link', data: { scroll: true } do
      = svg_tag 'logo-text', width: 140, height: 41, class: 'header-logo'
  
  nav
    = link_to '#', class: 'header-link' do
      = icon_tag 'facebook', class: 'header-icon'
    = link_to '//twitter.com/Hemera_Bdx', class: 'header-link', target: '_blank' do
      = icon_tag 'twitter', class: 'header-icon'
    / = link_to '#', class: 'header-link' do
    /   = icon_tag 'more', class: 'header-icon'

header.header.header--fixed
  nav
    = link_to '#top', class: 'header-link', data: { scroll: true } do
      = svg_tag 'logo-text', width: 140, height: 41, class: 'header-logo'
  
  = link_to t('apply_today'), '#', class: 'cta header-cta'
  
  nav
    = link_to '#', class: 'header-link' do
      = icon_tag 'facebook', class: 'header-icon'
    = link_to '//twitter.com/Hemera_Bdx', class: 'header-link', target: '_blank' do
      = icon_tag 'twitter', class: 'header-icon'
    / = link_to '#', class: 'header-link' do
    /   = icon_tag 'more', class: 'header-icon'

.hero
  .hero-heading
    h1.hero-heading-title = t 'hero.title'
    
    = svg_tag 'separator', class: 'hero-heading-separator', width: 71, height: 16
    
    h2.hero-heading-subtitle = t 'hero.subtitle'
    = link_to t('apply_today'), '#', class: 'cta cta--big hero-heading-cta'
    
  = link_to '#manifest', data: { scroll: true }, class: 'hero-scroll' do
    h6.hero-scroll-title = t 'hero.scroll'
    = icon_tag 'mouse', width: 30, height: 46

#manifest

section.section.manifest
  .wrapper
    = svg_tag 'logo', class: 'manifest-logo', width: 54, height: 54

    h2.section-title = t 'manifest.title'
    = svg_tag 'separator', class: 'separator section-separator', width: 71, height: 16
  
    .manifest-sections
      - t('manifest.sections').each do |icon, section|
        .manifest-section class="manifest-section--#{icon}"
          = icon_tag icon, width: 42, height: 42, class: 'manifest-section-icon'
          h3.manifest-section-title = section[:title]
          p.manifest-section-text = section[:text]
    

section.section.people
  .wrapper
    hr
    h2.section-title 
      = svg_tag 'people-title-v', class: 'people-title-fake v', width: 76, height: 382
      = svg_tag 'people-title-h', class: 'people-title-fake h', width: 153, height: 32
      = svg_tag 'separator', class: 'people-title-fake people-title-fake-separator h', width: 71, height: 16
    
    .people-grid
      .people-grid-item.people-mentors-intro
        p.people-mentors-intro-text = t 'people.text'
        = svg_tag 'separator', class: 'people-title-fake people-mentors-intro-separator v', width: 71, height: 16
      
      - t('people.mentors').each do |picture, mentor|
        .people-grid-item.people-mentor
          = image_tag "mentors/#{picture}.jpg", class: 'people-mentor-image', width: 235, height: 235
          h4.people-mentor-name = mentor[:name]
          p.people-mentor-job = mentor[:job]
          
      .people-grid-item.people-grid-item--double.people-mentors-outro
        h3.people-mentors-outro-title = t 'people.ready'
        = link_to t('apply_today'), '#', class: 'cta cta--big'

footer.footer
